.texto-rojo {
  color: var(--red-700);
}

.texto-verde {
  color: var(--green-600);
}

.font-header {
  font-size: 1.5em;
}

::ng-deep .card-motivo .p-card {
  .p-card-body {
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
